body{
    font: {
        family:sans-serif;
        size:100px;
        weight:100px;
        style: italic;
    }
    margin: {
        left:10px;
        right:20px;
    }
    padding: {
        left: 10px;
        right: 30px;
    }
    color: red;
}
nav{
    margin: 0;
    background: #0000;
    ul{
        margin: 0;
        padding: 15px;
        display: flex;
        li{
            padding: 14px;
            a{
                text-decoration: none; 
            }
        }
    }
    .nav-container{
        display: flex;
        padding: 7px;
    }
}