@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');
html{
    width: 1000px;
    margin: 0 auto;
}
body{
    font-family: sans-serif;
    background: grey;
    margin: 0%;
}
UL{
    display: flex;
    margin: 0; 
    list-style: none; 
    background: pink ;
    
    
}
li{
    padding: 2%;
    text-transform: uppercase;
    text-align: center;
}
li{
    cursor: pointer; 
}
li:hover{
    background: white;
}
h1{
    font-family: 'Konkhmer Sleokchher', cursive;
    background: burlywood;
    color: white;
    text-align: center;
}p{
    background: teal;
}
