*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    width: 100%;
    background-color: rgb(213, 206, 216);
    border-collapse: collapse;
}
caption{
    border: none;
    border-radius: 10px 10px 0px 0px ;
    padding: 10px;
    text-transform: uppercase;
}
caption, th{
    background-color: rgba(0, 255, 238, 0.591);
    color: white;
}
tr, th, td{
    border: 1px solid black;
    padding: 10px;
}