
.material-icons{
    width: 100%;
    font-size: 30px;
    /* color: blue;
}
/* button{
    width: 100px;
    height: 40px;
    padding: ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */ */
tr{
    border: 1px solid;
}