// @import "variables";
// button {
//     width: 20%;
//     padding: 10px;
//     border: none;
//     border-radius: 3px;
//     color: $text-button;
//     background-color: $main-color;
//     font-size: 17px;
//     margin-top: 18px;
//     box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
// }

button {
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.781);
}