$main-color:#1A76D1;
$width:100%;
$size:20px;
$bg-color:#F6F6F1;
$text-color:#2C2D3F;
$nav-padding:2px 50px;
$padding-general:30px;
$text-color-header:#6C3838;
$text-button:white;
$header-about-color:#D4D4CA;

