body {
    font-family: sans-serif;
    background: #e9e5e5;
    display: flex;
    flex-direction: column;
}
.container {
    width: 80%;
    margin: 0 auto;
}
h1 {
 text-transform: uppercase;
}
.box {
    width: 60%;
    line-height: 1.5;
    background-color: white;
}
.border-red {
    border-left: 5px solid red;
}
.border-green {
  border-left: 5px solid green;
}
.border-orange {
    border-left: 5px solid red;
}
nav{
    flex: 1;
}
.container{
    flex: 2;
}
footer{
    flex: 1;
}