* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: none;
}

body {
  width: 100%;
  height: auto;
  background-color: #e4e4e0;
  font-size: 20px;
}

nav {
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2px 50px;
}
@media screen and (max-width: 1024px) {
  nav {
    height: 80px;
  }
}
@media screen and (max-width: 600px) {
  nav {
    height: 50px;
    padding: 2px 20px;
  }
}
nav .menu {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li {
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  nav ul li {
    padding: 20px;
  }
}
@media screen and (max-width: 600px) {
  nav ul li {
    padding: 10px;
  }
}
nav ul li a {
  color: #2C2D3F;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  nav ul li a {
    text-transform: capitalize;
  }
}
nav ul li a:hover {
  color: #1A76D1;
}
nav form {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  nav form {
    display: none;
  }
}
nav form input {
  margin-left: auto;
  width: 50%;
  padding: 15px;
  font-size: 20px;
  border-radius: 20px 0px 0px 20px;
  background-color: #dedbdb;
  border: none;
  color: #2C2D3F;
}
@media screen and (max-width: 1024px) {
  nav form input {
    width: 100%;
  }
}
nav form input ::-moz-placeholder {
  font-size: 20px;
}
nav form input ::placeholder {
  font-size: 20px;
}
nav form .material-icons {
  font-size: 32px;
  border-radius: 0px 20px 20px 0px;
  background-color: #c5c5c2;
  padding: 12.5px;
  color: #1A76D1;
}

.menu ul li:nth-child(3) a {
  color: #1A76D1;
  border-bottom: 5px solid;
}

header {
  background-color: #F6F6F1;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}
@media screen and (max-width: 600px) {
  header {
    padding: 0px 20px;
  }
}
header .header-left {
  position: relative;
  display: inline-block;
  padding-top: 50px;
  font-size: 30px;
  color: #1A76D1;
}
@media screen and (max-width: 1024px) {
  header .header-left {
    position: absolute;
    width: 50%;
    font-size: 25px;
    padding: 20px 0px;
  }
}
@media screen and (max-width: 600px) {
  header .header-left {
    font-size: 15px;
    font-weight: normal;
    padding-top: 10px;
  }
}
header button {
  padding: 10px 50px;
  background-color: #1A76D1;
  color: #fff;
  border: none;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  header button {
    padding: 5px 30px;
  }
}
header .header-left-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  header .header-left-content {
    min-width: 300px;
  }
  header .header-left-content p {
    font-size: 15px;
  }
}
header .header-right img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  header .header-right {
    width: 100%;
    padding-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  header .header-right {
    width: 100%;
    padding-top: 10px;
  }
}
header .header-left:hover .header-left-content {
  display: block;
  font-size: 20px;
  color: black;
}

main {
  background-color: #fff;
}
main .about-us01 {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}
@media screen and (max-width: 600px) {
  main .about-us01 {
    flex-direction: column;
    padding: 0px 20px;
  }
}
main .about-us01 .main_left {
  width: 50%;
  padding: 10px 0px;
}
@media screen and (max-width: 1024px) {
  main .about-us01 .main_left {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  main .about-us01 .main_left {
    padding: 25px 0px;
  }
}
main .about-us01 h1 {
  color: #1A76D1;
}
@media screen and (max-width: 600px) {
  main .about-us01 h1 {
    font-size: 30px;
  }
}
main .about-us01 p {
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  main .about-us01 p {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  main .about-us01 p {
    font-size: 20px;
  }
}
main .about-us01 .main_right {
  text-align: center;
  padding: 50px 0px;
}
main .about-us01 .main_right img {
  width: 65%;
  border-radius: 50%;
  border: 8px solid #1A76D1;
}
@media screen and (max-width: 1024px) {
  main .about-us01 .main_right img {
    border: 7px solid #1A76D1;
    margin-top: 100px;
  }
}
@media screen and (max-width: 600px) {
  main .about-us01 .main_right img {
    margin-top: 1px;
    width: 70%;
  }
}
main .about-us01 .main_right h3 {
  color: #6C3838;
}
@media screen and (max-width: 600px) {
  main .about-us01 .main_right h3 {
    font-size: 20px;
  }
}
main .about-us02 {
  padding: 0px 50px;
}
@media screen and (max-width: 600px) {
  main .about-us02 {
    padding: 0px 20px;
  }
}
main .about-us02 .section-top {
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  main .about-us02 .section-top {
    padding: 5px;
  }
}
main .about-us02 .section-top h1 {
  color: #1A76D1;
  font-weight: bold;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  main .about-us02 .section-top h1 {
    font-size: 22px;
    padding: 5px;
  }
}
main .about-us02 .section-bottom {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  main .about-us02 .section-bottom {
    width: auto;
    flex-wrap: wrap;
  }
}
main .about-us02 .section-bottom .section-img {
  width: 25%;
  padding: 20px 0px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  main .about-us02 .section-bottom .section-img {
    width: 31%;
  }
}
@media screen and (max-width: 600px) {
  main .about-us02 .section-bottom .section-img {
    width: auto;
    flex-wrap: wrap;
  }
}
main .about-us02 .section-bottom .section-img img {
  width: 100%;
  box-shadow: #1A76D1 5px 5px 2px 2px;
}
@media screen and (max-width: 600px) {
  main .about-us02 .section-bottom .section-img img {
    width: 70%;
  }
}
main .about-us02 .section-bottom .section-img h3 {
  padding: 10px;
  color: #6C3838;
}
@media screen and (max-width: 1024px) {
  main .about-us02 .section-bottom .section-img h3 {
    font-size: 8px;
  }
}
@media screen and (max-width: 600px) {
  main .about-us02 .section-bottom .section-img h3 {
    font-size: 15px;
  }
}
main .about-us02 .section-bottom .section-img p {
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  main .about-us02 .section-bottom .section-img p {
    font-size: 9px;
  }
}
main .aside {
  background-color: #1A76D1;
  color: #fff;
  padding: 20px 0px;
}
@media screen and (max-width: 600px) {
  main .aside {
    width: auto;
    flex-wrap: wrap;
  }
}
main .aside-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  main .aside-top {
    flex-wrap: wrap;
    padding: 0px 20px;
  }
}
main .aside-top .aside-top_left {
  width: 30%;
}
@media screen and (max-width: 600px) {
  main .aside-top .aside-top_left {
    width: 40%;
    font-size: 21px;
  }
}
main .aside-top .aside-top_right {
  width: 70%;
}
@media screen and (max-width: 600px) {
  main .aside-top .aside-top_right {
    font-size: 20px;
    width: auto;
  }
}
main .aside-center {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}
@media screen and (max-width: 600px) {
  main .aside-center {
    padding: 0px 20px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
main .aside-center .center_left {
  width: 70%;
}
@media screen and (max-width: 600px) {
  main .aside-center .center_left {
    font-size: 20px;
    width: auto;
  }
}
main .aside-center .center_right {
  width: 30%;
  display: flex;
  justify-content: end;
}
main .aside-bottom {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  main .aside-bottom {
    flex-wrap: wrap;
    width: auto;
    padding: 15px 20px;
  }
  main .aside-bottom :nth-child(2) {
    display: none;
  }
}
main .aside-bottom .group-img {
  width: 25%;
  background: thistle;
}
@media screen and (max-width: 600px) {
  main .aside-bottom .group-img {
    width: 48%;
    flex-wrap: wrap;
  }
}
main .aside-bottom .group-img img {
  width: 100%;
  border: 5px solid #fff;
  border-radius: 5px;
}

.value {
  padding: 20px 50px;
}
@media screen and (max-width: 1024px) {
  .value {
    padding: 10px 30px;
  }
}
@media screen and (max-width: 600px) {
  .value {
    padding: 10px 20px;
  }
}
.value h2 {
  color: #1A76D1;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}
.value .card-box {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .value .card-box {
    text-align: start;
  }
}
@media screen and (max-width: 600px) {
  .value .card-box {
    text-align: start;
    padding-bottom: 10px;
  }
}
.value .card-box .box {
  width: 45%;
  background-color: white;
  box-shadow: #1A76D1 5px 5px 2px 2px;
  border-radius: 15px;
  padding: 23px;
  margin: 15px;
}
@media screen and (max-width: 1024px) {
  .value .card-box .box {
    width: 43%;
  }
}
@media screen and (max-width: 600px) {
  .value .card-box .box {
    width: 100%;
  }
}
.value .card-box .box h4 {
  padding: 30px;
  border-radius: 10px;
  color: white;
  background: #1A76D1;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .value .card-box .box h4 {
    font-size: 20;
    padding: 20px;
  }
}
@media screen and (max-width: 600px) {
  .value .card-box .box h4 {
    font-size: 18px;
    padding: 15px;
  }
}
.value .card-box .box p {
  padding: 60px 20px 60px 20px;
}
@media screen and (max-width: 1024px) {
  .value .card-box .box p {
    padding: 30px 10px;
  }
}
@media screen and (max-width: 600px) {
  .value .card-box .box p {
    padding: 20px 5px;
    font-size: 17px;
  }
}

.community {
  padding: 0px 50px;
  background-color: white;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .community {
    padding: 10px 30px;
  }
}
@media screen and (max-width: 600px) {
  .community {
    padding: 10px 20px;
    text-align: start;
  }
}
.community h2 {
  color: #1A76D1;
  padding: 20px;
  text-transform: uppercase;
  font-size: 30px;
}
@media screen and (max-width: 600px) {
  .community h2 {
    padding: 5px;
  }
}
.community p {
  padding-left: 10px;
}
@media screen and (max-width: 1024px) {
  .community p {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .community p {
    padding-left: 10px;
  }
}
.community .img {
  display: flex;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .community .img {
    flex-direction: column;
    justify-content: center;
    text-align: start;
  }
}
.community .img .card-img {
  padding: 20px 0px;
}
@media screen and (max-width: 600px) {
  .community .img .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.community .img .card-img p {
  padding: 20px 10px;
}
@media screen and (max-width: 1024px) {
  .community .img .card-img p {
    padding: none;
  }
}
@media screen and (max-width: 600px) {
  .community .img .card-img p {
    padding-left: 20px;
  }
}
.community .img .card-img img {
  width: 90%;
}
@media screen and (max-width: 1024px) {
  .community .img .card-img img {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .community .img .card-img img {
    width: 40%;
  }
}

footer {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  background-color: #1A76D1;
  gap: 10px;
}
@media screen and (max-width: 600px) {
  footer {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px;
  }
}

.block {
  display: flex;
  flex-direction: column;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .block {
    width: 100%;
  }
}
.block ul li :hover {
  color: rgb(0, 229, 255);
  border-bottom: 2px solid rgb(0, 229, 255);
}
.block a {
  display: flex;
  align-items: center;
  padding: 5px;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .block a {
    padding: 0px;
  }
}
.block iframe {
  height: 300px;
}
@media screen and (max-width: 1024px) {
  .block iframe {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 600px) {
  .block iframe {
    width: 100%;
    height: 200px;
  }
}/*# sourceMappingURL=about.css.map */